.structure {
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: start;
  justify-content: center;
  align-items: center;
}
.blog-button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border-radius: 30px;
}
.blog-button:hover {
  background-color: rgba(104, 18, 184, 0.658);
  transition: 0.6s;
}

@media only screen and (max-width: 600px) {
  .structure {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
